<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/all.css" rel="stylesheet" />
    <link href="/css/bulma.css" rel="stylesheet" />
    <script src="/js/all.js"></script>
    <script src="/js/vue.js"></script>
    <title>My ToDo List</title>
    <style>
        .line {
            text-decoration: line-through
        }
        
        input[type=radio] {
            display: none;
            outline: none;
        }
        
        .button {
            cursor: pointer;
            margin: 5px;
            border-color: #00000000;
            background-color: #00000000;
        }
        /* .button span {
            position: absolute;
            width: 35px;
            height: 35px;
            padding: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        } */
        
        .layer {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: transparent;
            z-index: -1;
        }
        
        .black input:checked~.button {
            border: 3px solid black;
        }
        
        .red input:checked~.button {
            border: 3px solid black;
        }
        
        .green input:checked~.button {
            border: 3px solid black;
        }
    </style>
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <p class="title">My ToDo List</p>
            <!-- <p class="subtitle">Hero subtitle</p> -->
        </div>
    </section>
    <section id="app">
        <div class="container">
            <p class="subtitle my-2">Completed: {{complete}} Tasks</p>
            <p class="subtitle my-2">Incomplete: {{task.length - complete}} Tasks</p>
            <p class="subtitle my-2">Flagged: {{flagCount}} Tasks</p>
            <div class="columns">
                <div class="column is-8">
                    <div class="box level py-3 my-2" v-for='label in task'>
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" v-model='label.isComplete' />
                                <span :class="{ 'line': label.isComplete}" :style='{color: label.color}'>{{label.name}} <span v-if='label.flag' v-html='icon'></span> <span v-if='label.date !== ""'>(Due by{{label.date}} )</span></span>
                            </label>
                        </div>
                        <div class="level-right">
                            <span class="icon is-small" v-on:click='openEditTask(label)'>
                                <i class="fas fa-edit"></i>
                            </span>

                            <!--Modal edit-->
                            <div class="modal" :class="{'is-active' : modal1}">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Edit Task</p>
                                        <button class="delete" aria-label="close" v-on:click='modal1 = false'></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <!-- Content ... -->
                                        <input class="input" type="text" placeholder="New Task Name" v-model='newTaskName' />
                                        <input class="input" type="date" v-model='newDate' />
                                        <div class='columns'>
                                            <div class="column is-12">
                                                <div class="field">
                                                    <div class="control">
                                                        <label class="checkbox">
                                                            <input type="checkbox" style='width: 20px;height: 20px;margin-top: 10%;' v-model='label.flag'>
                                                            Flag
                                                        </label>
                                                        <label class="black">
                                                            <input type="radio" name="color2" value="black" v-model='label.color'>
                                                            <div class="layer"></div>
                                                            <div class="button" style="background-color: black;"><span></span></div>
                                                        </label>
                                                        <label class="red">
                                                            <input type="radio" name="color2" value="red" v-model='label.color'>
                                                            <div class="layer"></div>
                                                            <div class="button" style="background-color: red;"><span></span></div>
                                                        </label>
                                                        <label class="green">
                                                            <input type="radio" name="color2" value="green" v-model='label.color'>
                                                            <div class="layer"></div>
                                                            <div class="button" style="background-color: green;"><span></span></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-success" v-on:click='editTask(label)'>Save</button>
                                        <button class="button" v-on:click='modal1 = false'>Cancel</button>
                                    </footer>
                                </div>
                            </div>
                            <span class="icon is-small ml-5" v-on:click='openDeleteTask(label)'>
                                <i class="fas fa-trash-alt"></i>
                            </span>

                            <!--Modal delete-->
                            <div class="modal" :class="{'is-active' : modal2}">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Delete Task</p>
                                        <button class="delete" aria-label="close" v-on:click='modal2 = false'></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <!-- Content ... -->
                                        <span>คุณต้องการลบ Task {{newTaskName}} ใช่หรือไม่?</span>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-danger" v-on:click='deleteTask(label)'>Confirm</button>
                                        <button class="button" v-on:click='modal2 = false'>Cancel</button>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns mt-5">
                        <div class="column is-3">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Task Name" v-model='taskName' />
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="date" v-model='date' />
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" style='width: 20px;height: 20px;margin-top: 10%;' v-model='flag'>
                                        Flag
                                    </label>
                                    <label class="black">
                                        <input type="radio" name="color" value="black" v-model='color' checked>
                                        <div class="layer"></div>
                                        <div class="button" style="background-color: black;"><span></span></div>
                                    </label>
                                    <label class="red">
                                        <input type="radio" name="color" value="red" v-model='color'>
                                        <div class="layer"></div>
                                        <div class="button" style="background-color: red;"><span></span></div>
                                    </label>
                                    <label class="green">
                                        <input type="radio" name="color" value="green" v-model='color'>
                                        <div class="layer"></div>
                                        <div class="button" style="background-color: green;"><span></span></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <p class="control">
                                <button class="button is-info" v-on:click='addTask'> Add New Task </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <header class="card-header has-background-primary">
                            <p class="card-header-title">Sort & Filter</p>
                            <p class="card-header-icon">
                                <span class="card-header-icon icon">
                                    <i class="fas fa-filter" data-target='modal'></i>
                                </span>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" />
                                            Hide completed tasks
                                    </label>
                                </div>
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" />
                                            Show only flagged tasks
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script>
        var app = new Vue({
            el: "#app",
            data: {
                task: [],
                toDoList: [],
                taskIDCount: 0,
                toDoListCount: 0,
                taskName: '',
                newTaskName: '',
                newDate: '',
                modal1: false,
                modal2: false,
                editID: 0,
                completed: 0,
                inComplete: 0,
                color: 'black',
                flag: false,
                date: '',
                icon: '<i class="fa fa-flag" aria-hidden="true"></i>'
            },
            methods: {
                addTask() {
                    namee = this.taskName
                    if (this.taskName != '' && this.taskName != null) {
                        this.task.push({
                            id: this.task.length + 1,
                            name: namee,
                            isComplete: false,
                            color: this.color,
                            flag: this.flag,
                            date: this.date,
                            listID: this.toDoListCount + 1
                        })
                        this.taskName = ''
                        this.date = ''
                        this.flag = false
                    } else {
                        alert("ห้ามเว้นว่าง")
                    }

                },
                openEditTask(label) {
                    this.modal1 = true

                    function find(val) {
                        return val.id == label.id
                    }
                    let selectTask = this.task.filter(find)[0]
                    this.newTaskName = selectTask.name
                    this.newDate = selectTask.date
                    this.editID = selectTask.id
                },
                editTask(label) {
                    let selectTask = this.task.filter((val) => {
                        return val.id == this.editID
                    })[0]
                    selectTask.name = this.newTaskName
                    selectTask.date = this.newDate
                    this.modal1 = false
                },
                openDeleteTask(label) {
                    this.modal2 = true

                    function find(val) {
                        return val.id == label.id
                    }
                    let selectTask = this.task.filter(find)[0]
                    this.newTaskName = selectTask.name
                    this.editID = selectTask.id
                },
                deleteTask(label) {
                    let selectTask = this.task.filter((val) => {
                        return val.id == this.editID
                    })[0]
                    let index = this.task.indexOf(selectTask)
                    console.log(index)
                    this.task.splice(index, 1)
                    this.modal2 = false
                },
            },
            computed: {
                complete() {
                    let count = 0
                    for (let i = 0; i < this.task.length; i++) {
                        if (this.task[i].isComplete === true) {
                            count++;
                        }
                    }
                    return count
                },
                flagCount() {
                    let count = 0
                    for (let i = 0; i < this.task.length; i++) {
                        if (this.task[i].flag === true) {
                            count++;
                        }
                    }
                    return count
                }
            }
        });
    </script>
</body>

</html>